* {
 margin: 0px;
 padding: 0px;
 vertical-align: middle;
 }
body {
 margin: 15px 0px;
 color: #000000;
 background: #B6AB69 url(bg.gif) repeat-X;
 font-family: arial, sans-serif;
 text-align: center;
 overflow-X: hidden;
 }
.bambooh {
 background: #B6AB69 url(bambooh.gif) repeat-X;
 }
#header {
 background: #CBE09B url(aloevera.gif) center top no-repeat;
 text-align: center;
 }
#header h1 {
 background: url(header2.gif) right center no-repeat;
 text-indent: -9000px;
 overflow: hidden;
 height: 90px;
 position: relative;
 }
#header h1 span {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 167px;
 height: 92px;
 background: url(header1.gif) center center no-repeat;
 }
#header #menu {
 position: absolute;
 width: 100%;
 left: 0px;
 list-style: none;
 height: 37px;
 margin-top: -3px;
 background: transparent url(menu.gif) top left repeat-X;
 }
#header #menu ul {
 width: 760px;
 margin: 0px auto;
 }
#header #menu ul li {
 display: inline;
 }
#header #menu ul li a {
 float: left;
 color: #000;
 font: 70% arial;
 text-decoration: none;
 text-transform: uppercase;
 font-weight: 600;
 margin: 10px 30px 0px;
 }
#header #menu ul li a:hover {
 color: #A69B59;
 }
#header #informacoes {
 position: relative;
 height: 100px;
 width: 760px;
 margin: 40px auto;
 text-align: left;
 }
#header #informacoes .vcard {
 position: absolute;
 left: 10px;
 font: 80% arial;
 }
#header #informacoes .vcard .org {
 margin: -5px 0px 10px;
 }
#header #informacoes .vcard .adr {
 margin: 5px 0px;
 }
#header #informacoes .vcard .email {
 background: url(contato.gif) left center no-repeat;
 padding-left: 15px;
 color: #000;
 text-decoration: none;
 }
#header #informacoes .vcard img {
 float: left;
 margin: 0px 15px 0px 0px;
 }
#header #informacoes .vcard h2 , #header #informacoes .banner h2 {
 color: #58572A;
 }
#header #informacoes .banner {
 font: 90% arial;
 position: absolute;
 right: 10px;
 }
#header #informacoes .banner ul {
 list-style: none;
 }

/*  GERAL  */

#conteudo h1, #conteudo h2, #conteudo h3,
#conteudounico h1, #conteudounico h2, #conteudounico h3 {
 font-size: 140%;
 padding: 1% 0;
 }

#conteudo h1,
#conteudounico h1 {
 font-size: 200%;
 text-align: center;
 border-bottom: 1px solid #CC9933;
 }

#conteudounico p, #conteudo p {
 line-height: 1.5em;
 text-align: justify;
 margin: .7em 0;
 }

#conteudounico .destaque, #conteudo .destaque {
 font-size: 140%;
 }

#conteudo,#conteudounico {
 width: 790px;
 margin: 15px auto;
 font: 80% arial;
 text-align: left;
 display: table;
 }
#conteudo ul {
 margin: 0.5em 0em 0.5em 2em;
 }
#conteudo #principal , #conteudo .secundario {
 float: left;
 margin: 5px;
 background: #E1D69E
 }
#conteudo #principal {
 width: 453px;
 background: url(bamboo.gif) 10px repeat-Y;
 }

#conteudo a, #conteudounico a {
 color: #006600;
 text-decoration: none;
 }
#conteudo #principal p , #conteudo #principal h1, #conteudo #principal h2, #conteudo #principal h3 {
 margin: 0px 30px;
 }
#conteudo #principal ul, #conteudo .secundario ul {
 margin: 10px 30px 10px 50px;
 }
#conteudounico ul {
 margin: 10px 30px 10px 30px;
 }


#conteudo #principal .top {
 background: url(principal_top.gif) no-repeat;
 height: 42px;
 }
#conteudo #principal .bottom {
 background: url(principal_bottom.gif) no-repeat;
 height: 28px;
 }

#conteudo .secundario {
 width: 300px;
 background: url(bamboo2.gif) 8px repeat-Y;
 margin-top: 15px;
 }
#conteudo .secundario .top {
 _margin-top: -1px;
 background: url(secundario_top.gif) no-repeat;
 height: 29px;
 }
#conteudo .secundario .bottom {
 background: url(secundario_bottom.gif) no-repeat;
 margin-top: 20px;
 height: 28px;
 }
#conteudo .secundario p , #conteudo .secundario h1, #conteudo .secundario h2, #conteudo .secundario h3 {
 margin: 0px 30px;
 }

#conteudounico {
 width: 760px;
 background: #E0D69E url(unico02.gif) top right repeat-Y;
}
#conteudounico .top {
 background: #E0D69E url(unicotop.gif) no-repeat;
 height: 28px;
 }
#conteudounico .bottom {
 background: #E0D69E url(unicobottom.gif) no-repeat;
 height: 26px;
 }
#conteudounico #unico {
 margin: 0px 40px 0px 0px;
 padding: 0px 0px 30px 40px;
 background: #E0D69E url(unico01.gif) top left repeat-Y;
}

address {
 background: #FFF;
 color: #006600;
 padding: 10px 0px;
 font-size: 1.5em;
 }

#pontovermelho {
 margin: 15px;
 }

/* Formulario */
form {
 width: 650px;
 display: table;
 }
form p {
 float: left;
 padding-right: 20px;
 }
form textarea {
 height: 150px;
 width: 280px;
 padding: 5px;
 float: left;
 }
form label {
 display: block;
 font-size: 125%;
 }
form label span {
 display: block;
 }
form label input {
 width: 280px;
 }
form .submit {
 margin: 20px 0 10px 0;	
 padding: 10px 5px;
 border-top: 2px solid #B6AB69;
 text-align: right;
 width: 100%;
 }
form input {
 font-size: 125%;
 margin: 0 2px 0 0;
 padding: 5px;
 }
form label.chbox input {
 width: auto;
 }
form label.chbox {
 margin: 0 auto .7em;
}

/* Detalhes */

.icone_aloevera {
 background: url(/img/aloevera.gif) no-repeat;
 padding: 0px 0px 10px 55px;
 }
.center {
 text-align: center;
 display: block;
 margin-top: .7em;
 margin-bottom: .7em;
 }
.produto {
 float: right;
 margin-right: 200px;
 }